.summary {
  margin-top: 100px;
  padding: 0 20px;
}

.clearCartBtn {
  border-radius: 4px;
  background: #ff3030;
  width: 100%;
  color: white;
}
.checkoutBtn {
  border-radius: 4px;
  background: #ff9900;
  width: 100%;
  color: white;
  margin: 10px 0px;
}
