.navbar {
  background-color: #1c2b35;
  color: white;
  padding: 0px 100px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav-list a {
  color: white;
  margin-left: 25px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.085px;
}
.nav-list a:hover {
  color: orange;
}
